{{##
    def.$layout = "layout";
#}}

{{
    model = it.$model;
}}

<div class="jumbotron bg-primary">
    <div class="container">
        <h1 class="display-4">{{=model.title}}</h1>
        <p class="lead">
        {{? model.lead }}<p class="lead" style="margin-bottom:5px;">{{=model.lead}}</p>{{?}}
         {{? model.date }}<div class="text-muted"><em>published {{=model.date.getFullYear()+"/"+model.date.getMonth()+"/"+model.date.getDate()}}</em></div>{{?}}
    </div>
</div>

<div class="container">
    {{= it.$content }}
</div>
